.hero-sec {
    position: relative;
    margin-top: 7rem;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  @media (min-width: 768px) {
    .hero-sec {
      height: 270px;
    }
  }
  
  .hero-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hero-ov {
    position: absolute;
    inset: 0;
    background-color: rgba(17, 24, 39, 0.7);
  }
  
  .hero-cont {
    position: relative;
    z-index: 10;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .hero-tit {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.07rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #ff0000, #d1f49c, #914dcd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .chairperson-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 4rem; */
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .chairperson-img img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 4px solid #e0e0e0;
  }
  
  .chairperson-content {
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    padding: 2rem 5rem;
}
.chairperson-title{
    font-size: 2rem;
    line-height: 1.3;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    /* color: #C40C11; Purple shade */
    letter-spacing: 0.07rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #ff0000, #6a00a8, #3d0071);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
}
.chairperson-name{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #ff0000;
    font-weight: 600;


  }
  
  @media (min-width: 768px) {
    .chairperson-section {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .chairperson-img img {
      width: 540px;
      height: 300px;
    }
  
    .chairperson-content {
      text-align: left;
      font-size: 1.05rem;
    }
  }
  